.btn {

    border: 0 none;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.center {
    margin: auto;
    width: 40%;
    margin-top: -10px;
    margin-bottom: -10px;
    padding: 10px;
}

.circle {
padding:40% 0% ;width: 100%; height: 10%; background: red; -moz-border-radius: 100%; -webkit-border-radius: 100%; border-radius: 100%;
}

.circle2 {
 padding:40% 100% ;width: 100%; height: 5%; background: red; -moz-border-radius: 100%; -webkit-border-radius: 100%; border-radius: 100%;
}


.btn:focus, .btn:active:focus, .btn.active:focus {
    outline: 0 none;
}

.btn-primary {
    background: #0099cc;
    color: #ffffff;
}

.btn-primary2 {
    background: #FF0000;
    color:  #ffffff;
}

 body {
    color: white;
    background-color: black;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
    background: #33a6cc;
}

.btn-primary:active, .btn-primary.active {
    background: #007299;
    box-shadow: none;
}

.btn-primary2:hover, .btn-primary2:focus, .btn-primary2:active, .btn-primary2.active, .open > .dropdown-toggle.btn-primary2 {
    background: #FF6347;
}

.btn-primary2:active, .btn-primary2.active {
    background: #8B0000;
    box-shadow: none;
}

.Row
{
    display: table;
    width: 100%; /*Optional*/
    table-layout: fixed; /*Optional*/
    border-spacing: 10px 0px; /*Optional*/
}
.Column
{
    display: table-cell;
    #background-color: red; /*Optional*/
}