.btn {
border-radius: 0px;
height:100%
    background-color: grey;
    border: 1 none;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
    width: 5px;height: 10px;padding: 12px 12px;

}

.btn2 {
margin-top: 15%;
margin-bottom: 20%;
}



.left{
margin: auto;
    margin-left: -65%;
}

 .btn-circle { width: 30px; height: 30px; text-align: center;padding: 6px 0;font-size: 12px;line-height: 1.428571429;border-radius: 15px;border:1px solid yellow;}
 .btn-circle.btn-lg {width: 50px;height: 50px;padding: 10px 16px;font-size: 18px;line-height:1.33;border-radius: 25px;outline-color: yellow !important;}
.
center {
    margin: auto;
    width: 40%;
    margin-top: -10px;
    margin-bottom: -10px;
    padding: 10px;
}

#main {
    width:100%;
    max-width:290px;
}

.circle {
padding:40% 0% ;width: 100%; height: 10%; background: red; -moz-border-radius: 100%; -webkit-border-radius: 100%; border-radius: 100%;outline-color: yellow;
}

.circle2 {
 padding:40% 100% ;width: 100%; height: 5%; background: red; -moz-border-radius: 100%; -webkit-border-radius: 100%; border-radius: 100%;outline-color: yellow;
}


.btn:focus, .btn:active:focus, .btn.active:focus {
    outline: 0 none;
}


body {
    color: white;
    background-color: black;
}

.default{
    color: white;
    background-color: black;
}

.btn-primary {
    background: transparent;
}


.btn-primary.pink {
    background: WHITE;
}

.Row
{
    display: table;
    width: 100%; /*Optional*/
    table-layout: fixed; /*Optional*/
    border-spacing: 10px 0px; /*Optional*/
}
.Column
{
    display: table-cell;
    #background-color: red; /*Optional*/
}