<html lang="en">
  <link>
    <meta charset="utf-8"></meta>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"></meta>
    <meta name="viewport" content="width=device-width, initial-scale=1"></meta>
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Track status</title>

    <!-- Bootstrap -->
    <link src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></link>
    {% load static %}
    {% load next %}
    {% load pinStatus %}
    {% load abs %}
    <link href="{% static "/css/bootstrap.min.css" %}" rel="stylesheet"></link>
    <link href="{% static "/css/default.css" %}" rel="stylesheet"></link>
    <link src="{% static "/js/bootstrap.min.js" rel="script"%}" ></link>

  </head>
  <body>
  <!--<head><h3  style="margin-left: 45%;"   onclick="redir();">R1(4) - TRACKS</h3></head>-->

   {% for track in tracks %}



  {% if not track.no|divisibleby:2 %}


          <div class="col-md-3" >

          <div id="main">


        <div class="panel panel-primary default" >
        <div class="panel-heading default" onclick="redir();"><b>R1({{ track.no|abs }}) - DATA</b></div>
          <table>
            <tr>
              <td>
                <div class="panel-body default">
                  <form action="home" method="post">
                  {% csrf_token %}
                    <input type="hidden" name="pin" value="{{ track.preReset1 }}" >
                    <input type="hidden" name="trackNo" value="{{ track.no }}" >
                    <button type="button" class="btn btn-circle btn-primary"></button>
                  </form>
                </div>
              </td>
              <td><b>{{  track.no  }}A</b></td>
              <td>
                <div class="panel-body">
                  <form action="home" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="pin" value="{{ track.preReset1 }}" >
                    <button  id="test"  class=" btn " type="submit" value="a" name="clear" ><b style="color:red;"></b></button>
                  </form>
                </div>
              </td>
                              <td>|</td>
              {% with next_element=tracks|next:forloop.counter0 %}
                                    <td>
                <div class="panel-body default">
                  <form action="home" method="post">
                  {% csrf_token %}
                    <input type="hidden" name="pin" value="{{ next_element.preReset1 }}" >
                    <input type="hidden" name="trackNo" value="{{ next_element.no }}" >
                    <button type="button" class="btn btn-default btn-circle btn-primary"></button>
                  </form>
                </div>
              </td>
              <td><b>{{  next_element.no|add:1  }} A</b></td>
              <td>
                <div class="panel-body">
                  <form action="home" method="post">
                  {% csrf_token %}
                <!--<div class="panel-body " ><h3 class="panel-title center" style="background-color:{{ track.colour }}; height:6%; width:30%;">{{ form.as_p }}</h3></div>-->
                  <div class="btn-group mr-3" role="group" aria-label="First group">
                    <input type="hidden" name="pin" value="{{ next_element.preReset1 }}" >
                  <button class=" btn " ></button>
                  </div>
                  </form>
                </div>
              </td>
              {% endwith %}
            <tr>
          </table>



                  <table>
            <tr>
              <td>
                <div class="panel-body default">
                  <form action="home" method="post">
                  {% csrf_token %}
                    <input type="hidden" name="pin" value="{{ track.preReset2 }}" >
                    <input type="hidden" name="trackNo" value="{{ track.no }}" >
                    <button type="button" class="btn btn-default btn-circle btn-primary"></button>
                  </form>
                </div>
              </td>
              <td><b>{{  track.no  }}B</b></td>
              <td>
                <div class="panel-body">
                  <form action="home" method="post">
                  {% csrf_token %}
                <!--<div class="panel-body " ><h3 class="panel-title center" style="background-color:{{ track.colour }}; height:6%; width:30%;">{{ form.as_p }}</h3></div>-->
                  <div class="btn-group mr-3" role="group" aria-label="First group">
                    <input type="hidden" name="pin" value="{{ track.preReset2 }}" >
                  <button class=" btn " type="submit" value="clear" name="clear"></button>
                  </div>
                  </form>
                </div>
              </td>
                                                               <td>|</td>
              {% with next_element=tracks|next:forloop.counter0 %}
                                    <td>
                <div class="panel-body default">
                  <form action="home" method="post">
                  {% csrf_token %}
                    <input type="hidden" name="pin" value="{{ next_element.preReset2 }}" >
                    <input type="hidden" name="trackNo" value="{{ next_element.no }}" >
                    <button type="button" class="btn btn-default btn-circle btn-primary"></button>
                  </form>
                </div>
              </td>
              <td><b>{{  next_element.no|add:1  }}B</b></td>
              <td>
                <div class="panel-body">
                  <form action="home" method="post">
                  {% csrf_token %}
                <!--<div class="panel-body " ><h3 class="panel-title center" style="background-color:{{ track.colour }}; height:6%; width:30%;">{{ form.as_p }}</h3></div>-->
                  <div class="btn-group mr-3" role="group" aria-label="First group">
                    <input type="hidden" name="pin" value="{{ next_element.preReset2 }}" >
                  <button class=" btn " type="submit" value="clear" name="clear"></button>
                  </div>
                  </form>
                </div>
              </td>
              {% endwith %}
            <tr>
          </table>
                  <table>
            <tr>
              <td>
                <div class="panel-body default">
                  <form action="home" method="post">
                  {% csrf_token %}
                    <input type="hidden" name="pin" value="{{ track.reset1 }}" >
                    <input type="hidden" name="trackNo" value="{{ track.no }}" >
                    <button type="button" class="btn btn-default btn-circle btn-primary"></button>
                  </form>
                </div>
              </td>
              <td><b>{{  track.no  }}C</b></td>
              <td>
                <div class="panel-body">
                  <form action="home" method="post">
                  {% csrf_token %}
                <!--<div class="panel-body " ><h3 class="panel-title center" style="background-color:{{ track.colour }}; height:6%; width:30%;">{{ form.as_p }}</h3></div>-->
                  <div class="btn-group mr-3" role="group" aria-label="First group">
                    <input type="hidden" name="pin" value="{{ track.reset1 }}" >
                  <button class=" btn " type="submit" value="clear" name="clear"></button>
                  </div>
                  </form>
                </div>
              </td>
                                                    <td>|</td>
              {% with next_element=tracks|next:forloop.counter0 %}
                                    <td>
                <div class="panel-body default">
                  <form action="home" method="post">
                  {% csrf_token %}
                    <input type="hidden" name="pin" value="{{ next_element.reset1 }}" >
                    <input type="hidden" name="trackNo" value="{{ next_element.no }}" >
                    <button type="button" class="btn btn-default btn-circle btn-primary"></button>
                  </form>
                </div>
              </td>
              <td><b>{{  next_element.no|add:1  }}C</b></td>
              <td>
                <div class="panel-body">
                  <form action="home" method="post">
                  {% csrf_token %}
                <!--<div class="panel-body " ><h3 class="panel-title center" style="background-color:{{ track.colour }}; height:6%; width:30%;">{{ form.as_p }}</h3></div>-->
                  <div class="btn-group mr-3" role="group" aria-label="First group">
                    <input type="hidden" name="pin" value="{{ next_element.reset1 }}" >
                  <button class=" btn " ></button>
                  </div>
                  </form>
                </div>
              </td>
              {% endwith %}
            <tr>
          </table>

          <table>
            <tr>
              <td>
                <div class="panel-body default">
                  <form action="home" method="post">
                  {% csrf_token %}
                    <input type="hidden" name="pin" value="{{ track.reset2 }}" >
                    <input type="hidden" name="trackNo" value="{{ track.no }}" >
                    <button type="button" class="btn btn-default btn-circle btn-primary"></button>
                  </form>
                </div>
              </td>
              <td><b>{{  track.no  }}D</b></td>
              <td>
                <div class="panel-body">
                  <form action="home" method="post">
                  {% csrf_token %}
                <!--<div class="panel-body " ><h3 class="panel-title center" style="background-color:{{ track.colour }}; height:6%; width:30%;">{{ form.as_p }}</h3></div>-->
                  <div class="btn-group mr-3" role="group" aria-label="First group">
                    <input type="hidden" name="pin" value="{{ track.reset2 }}" >
                  <button class=" btn " type="submit" value="clear" name="clear"></button>
                  </div>
                  </form>
                </div>
              </td>
                                                    <td>|</td>
              {% with next_element=tracks|next:forloop.counter0 %}
                                    <td>
                <div class="panel-body default">
                  <form action="home" method="post">
                  {% csrf_token %}
                    <input type="hidden" name="pin" value="{{ next_element.reset2 }}" >
                    <input type="hidden" name="trackNo" value="{{ next_element.no }}" >
                    <button type="button" class="btn btn-default btn-circle btn-primary"></button>
                  </form>
                </div>
              </td>
              <td><b>{{  next_element.no|add:1  }}D</b></td>
              <td>
                <div class="panel-body">
                  <form action="home" method="post">
                  {% csrf_token %}
                <!--<div class="panel-body " ><h3 class="panel-title center" style="background-color:{{ track.colour }}; height:6%; width:30%;">{{ form.as_p }}</h3></div>-->
                  <div class="btn-group mr-3" role="group" aria-label="First group">
                    <input type="hidden" name="pin" value="{{ next_element.reset2 }}" >
                  <button class=" btn " type="submit" value="clear" name="clear"></button>
                  </div>
                  </form>
                </div>
              </td>
              {% endwith %}

            <tr>
          </table>

  </div>
            </div>
          </div>

      {% endif %}
      {% endfor %}

	{% load static %}
	<script src="{% static "/js/jquery.min.js" %}"></script>
    <script src="{% static "/js/bootstrap.min.js" %}"></script>
    <script src="{% static "/js/scripts.js" %}"></script>

  <script type="text/javascript">
  function redir() {
    window.location = "/tracks";
  }
</script>


  <!--<script  type='text/javascript'>-->
<!--$(function () {-->
    <!--$('#trackform').on('submit',function (e) {-->

              <!--$.ajax({-->
                <!--type: 'post',-->
                <!--url: 'http://192.168.7.2:8000/data',-->
                <!--data: $('#trackform').serialize()-->
              <!--});-->
          <!--e.preventDefault();-->
        <!--});-->
<!--});-->
  <!--</script>-->
  <script type="text/javascript">

  <!--$(document).ready(function() {-->
  <!--$.ajaxSetup({ cache: false }); // This part addresses an IE bug.  without it, IE will only load the first number and will never refresh-->
  <!--var my_refresh = setInterval(function() {-->
    <!--$('#main').load('input');-->
  <!--}, 10000); // the "10000"-->
  <!--});-->

    $( ".btn-primary" ).click(function(e) {


   $(this).toggleClass("pink");
    var element = $(this)
    setTimeout(function() {
        $(element).toggleClass("pink");
    }, 1000);

        var form = $(this).parents('form:first');
         $.ajax({
                type: 'post',
                url: '/pulseOn',
                data: form.serialize()
              });
         e.preventDefault();
});

    $( ".btn-primary" ).contextmenu(function(e) {
        $(this).toggleClass("pink");
        var form = $(this).parents('form:first');
         $.ajax({
                type: 'post',
                url: '/togglePin',
                data: form.serialize()
              });
          e.preventDefault();
});

</script>


  </body>
</html>