<html lang="en">
<head>
    <meta charset="utf-8"></meta>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"></meta>
    <meta name="viewport" content="width=device-width, initial-scale=1"></meta>
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Track status</title>

    <!-- Bootstrap -->
    <link src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></link>
    {% load static %}
    {% load next %}
    {% load inputBack %}
    <link href="{% static "/css/bootstrap.min.css" %}" rel="stylesheet"></link>
    <link href="{% static "/css/default.css" %}" rel="stylesheet"></link>
    <link src="{% static "/js/bootstrap.min.js" rel="script"%}" ></link>

<!--     <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"> -->

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
  <!--<head><h3  style="margin-left: 45%;"   onclick="redir();">R1(4) - TRACKS</h3></head>-->


   {% for track in tracks %}

  {% if not track.no|divisibleby:2 %}

        <div class="col-md-3" >
            <div id="main">

        <div class="panel panel-primary default" >
        <div class="panel-heading default" onclick="redir();"><b>R1({{  track.no  }}) - TRACKS</b></div>
          <table>
            <tr>
              <td>
                <div class="panel-body default">
                  <td><b>FMA{{  track.no  }} </b></td>
                </div>
              </td>

                              <div class="panel-body default">
                    <td><b>____________</b></td>
              {% with next_element=tracks|next:forloop.counter0 %}
                                    <td>
               <div class="panel-body default">
                  <td><b>FMA{{  next_element.no  }} </b></td>
                </div>
              </td>

              {% endwith %}
            <tr>
          </table>

              <table>
            <tr>
              <td>
              <div class="panel-body default">
                    <td><b>        </b></td>
              </div>
                </td>
          <td>
               <div class="panel-body default">
                                    <form action="tracks" method="post">
                  {% csrf_token %}
                <!--<div class="panel-body " ><h3 class="panel-title center" style="background-color:{{ track.colour }}; height:6%; width:30%;">{{ form.as_p }}</h3></div>-->

                  <input type="hidden" name="pin" value="{{ track.preReset1 }}" >
                  <input type="hidden" name="pin2" value="{{ track.preReset2 }}" >
                  <input type="hidden" name="trackNo" value="{{ track.no }}" >
                  <button class="btn btn-circle btn-primary  " type="submit" value="clear" name="clear"></button>
                  </div>
                  </form>

              </td>
          <td>
              <td>
              <div class="panel-body default">
                    <td><b>PRE-RESET</b></td>
              </div>
    </td>
              {% with next_element=tracks|next:forloop.counter0 %}
                                    <td>
               <div class="panel-body default">
                                    <form action="tracks" method="post">
                  {% csrf_token %}
                <!--<div class="panel-body " ><h3 class="panel-title center" style="background-color:{{ track.colour }}; height:6%; width:30%;">{{ form.as_p }}</h3></div>-->
                  <input type="hidden" name="pin" value="{{ next_element.preReset1 }}" >
                  <input type="hidden" name="pin2" value="{{ next_element.preReset2 }}" >
                  <input type="hidden" name="trackNo" value="{{ next_element.no }}" >
                  <button class="btn btn-circle btn-primary  " type="submit" value="clear" name="clear"></button>
                  </form>
                </div>
              </td>

              {% endwith %}
            </tr>
                  <table>
            <tr>
              <td>
              <div class="panel-body default">
                    <td><b>        </b></td>
              </div>
                </td>
          <td>
               <div class="panel-body default">
                                    <form action="tracks" method="post">
                  {% csrf_token %}
                <!--<div class="panel-body " ><h3 class="panel-title center" style="background-color:{{ track.colour }}; height:6%; width:30%;">{{ form.as_p }}</h3></div>-->
                  <input type="hidden" name="pin" value="{{ track.reset1 }}" >
                  <input type="hidden" name="pin2" value="{{ track.reset2 }}" >
                  <input type="hidden" name="trackNo" value="{{ track.no }}" >
                  <button class="btn btn-circle btn-primary  " type="submit" value="clear" name="clear"></button>
                  </form>
                </div>
              </td>
          <td>
              <td>
              <div class="panel-body default">
                    <td><b>__RESET__</b></td>
              </div>
                </td>
              {% with next_element=tracks|next:forloop.counter0 %}
                                    <td>
               <div class="panel-body default">
                                    <form action="tracks" method="post">
                  {% csrf_token %}
                <!--<div class="panel-body " ><h3 class="panel-title center" style="background-color:{{ track.colour }}; height:6%; width:30%;">{{ form.as_p }}</h3></div>-->

                  <input type="hidden" name="pin" value="{{ next_element.reset1 }}" >
                  <input type="hidden" name="pin2" value="{{ next_element.reset2 }}" >
                  <input type="hidden" name="trackNo" value="{{ next_element.no }}" >
                  <button class="btn btn-circle btn-primary  " type="submit" value="clear" name="clear" ></button>

                  </form>
                </div>
              </td>

              {% endwith %}
            <tr>
          </table>
                  <table>
            <tr>
              <td>
              <div class="panel-body default">
                    <td><b>        </b></td>
              </div>
                </td>
          <td>
               <div class="panel-body default">
                                    <form action="tracks" method="post">
                  {% csrf_token %}
                <!--<div class="panel-body " ><h3 class="panel-title center" style="background-color:{{ track.colour }}; height:6%; width:30%;">{{ form.as_p }}</h3></div>-->

                  <input type="hidden" name="clear" value="{{ track.pk }}" >
                  <div id="input{{ track.no }}">
<button class=" btn input" type="submit" value="clear" name="clear"  style = "background: {{  track.no|inputBack  }}!important;"></button>
                  </div>
                  </form>
                </div>
              </td>
          <td>
              <td>
              <div class="panel-body default">
                    <td><b>CLEAR/OCC</b></td>
              </div>
                </td>

              {% with next_element=tracks|next:forloop.counter0 %}
                                    <td>
               <div class="panel-body default">
                                    <form action="tracks" method="post">
                  {% csrf_token %}
                <!--<div class="panel-body " ><h3 class="panel-title center" style="background-color:{{ track.colour }}; height:6%; width:30%;">{{ form.as_p }}</h3></div>-->

                  <input type="hidden" name="clear" value="{{ next_element.no }}" >
                  <div id="input{{ next_element.no }}">
                      <button class=" btn input " type="submit" value="clear" name="clear"  style = "background: {{  next_element.no|inputBack  }}!important;"></button>
                  </div>
                  </form>
                </div>
              </td>

              {% endwith %}
            <tr>
          </table>


  </div></div>
</div>
      {% endif %}
      {% endfor %}


	{% load static %}
	<script src="{% static "/js/jquery.min.js" %}"></script>
    <script src="{% static "/js/bootstrap.min.js" %}"></script>
    <script src="{% static "/js/scripts.js" %}"></script>



</script>

  <script type="text/javascript">
  function redir() {
    window.location = "/data";
  }
</script>

    <script type="text/javascript">
    $( ".btn-primary" ).click(function(e) {

   $(this).toggleClass("pink");
    var element = $(this)
    setTimeout(function() {
        $(element).toggleClass("pink");
    }, 1000);

        var form = $(this).parents('form:first');
         $.ajax({
                type: 'post',
                url: '/pulseOn',
                data: form.serialize()
              });
         e.preventDefault();
});

    $( ".btn-primary" ).contextmenu(function(e) {
        $(this).toggleClass("pink");
        var form = $(this).parents('form:first');
         $.ajax({
                type: 'post',
                url: '/togglePin',
                data: form.serialize()
              });
          e.preventDefault();
});



function refresh() {
  var url =  '/loadTrack/';
    $.ajax({
        type:'get',
    url: url,
    success: function(data) {
          {% for track in tracks %}
       {% if track.no < 17 %}
   var dtr = $('#input{{  track.no  }}',data);
   console.log(dtr.html());
   $('#input{{  track.no  }}').html(dtr,function () {
         $(this).unwrap();
    });

     {% endif %}
     {% endfor %}
  }
});
    setInterval("refresh()", 2000);
}

$(function(){
    refresh();
});




</script>


  </body>
</html>